@using Entities.Dto
@using Newtonsoft.Json
@model List<FormDto>
@{
    Layout = "_Layout";
    var modelJson = JsonConvert.SerializeObject(Model);
}



<div class="d-flex justify-content-between">
    <div>
        <input type="text" class="form-control" placeholder="Ara" id="search">

    </div>
    <button type="button" id="getModal" class="btn btn-primary" style="border-radius:5px;">Yeni Form Oluştur</button>
</div>


<div id="modalContainer"></div>

<div class="toast-container position-fixed top-0 end-0 p-3 ">
    <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body" style="background:#d1e7dd; color:white;">
            Form başarıyla kaydedildi
        </div>
    </div>
</div>



<div class="toast-container position-fixed top-0 end-0 p-3 ">
    <div id="notLoadForm" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body" style="background:#dc3545;">
            Form Hatalı!
        </div>
    </div>
</div>

<div class="mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Ad</th>
                <th>Açıklama</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="formTableBody">
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <button type="button" class="btn btn-primary openDetail">Görüntüle</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts {

    <script type="text/javascript">
        var forms = @Html.Raw(modelJson);

    </script>
    <script src="~/js/formPage.js"></script>


}